@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mdx-contents.css';
/* @import './mdx-components.css'; */

:root {
  --primary: 166 100% 69.6%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  /* Used for destructive actions such as <Button variant="destructive"> */
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  /* Default background color of <body />...etc */
  --background: 210 3% 16%;
  --foreground: 222.2 47.4% 11.2%;

  /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 215 19% 35%;
  --input: 214.3 31.8% 91.4%;
  --ring: 215 20.2% 65.1%;
  --radius: 0.5rem;
}

.dark {
  /* Default background color of <body />...etc */
  --background: 225 6% 13%;
  --foreground: 215 20.2% 65.1%;

  --primary: 205 90% 48%;
  --primary-foreground: 210 40% 98%;

  --secondary: 0 0% 50%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 217 33% 17%;
  --accent-foreground: 213 27% 84%;

  /* Used for destructive actions such as <Button variant="destructive"> */
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --card: 0 0% 9%;
  --card-foreground: 222.2 47.4% 11.2%;

  --popover: 222 47% 11%;
  --popover-foreground: 215 20.2% 65.1%;

  --border: 0 1% 22%;
  --input: 0 1% 22%;
  --ring: 205 90% 48%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold text-slate-600 dark:text-white md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold text-slate-600 dark:text-slate-200 md:text-3xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold text-slate-600 dark:text-slate-200 md:text-2xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold text-slate-600 dark:text-slate-200 md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold text-slate-600 dark:text-slate-200 md:text-lg;
  }

  body {
    @apply font-primary bg-white text-sm text-slate-600 antialiased [overflow:overlay] dark:bg-slate-900 dark:text-slate-400 md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
